.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(2);
}

.modal {
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    margin: 0% auto;
    background-color: #ffffff;

    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modle-close__btn {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    right: 8px;
    top: 8px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    cursor: pointer;
}

.modle-close__btn:hover .modal__icon {
    fill: var(--accent-color)
}

/* Elements form modle */
.form {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.form__modle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.modle__form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modle__form-title {
    margin-top: 12px;
}

.modle__form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.modle__form-input {
    width: 100%;
    margin: 0;
    padding: 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modle__form-input:hover,
.modle__form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modle__form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(0%);

    display: inline-block;
    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modle__form-input:hover~.modle__form-icon,
.modle__form-input:focus~.modle__form-icon {
    fill: var(--accent-color)
}

.modle__form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.modal__form-textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    height: 120px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-textarea:hover,
.modal__form-textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal__form-input::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form__chek {
    padding-left: 14px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.modal-policy__label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.modal__checkbox {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.modal-icon__chek {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
}

.modal__checkbox:checked+.modal-icon__chek {
    background-image: url(../images/modal/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-color);
    background-origin: border-box;
    border-color: var(--accent-color);
}

.modal__policy-link {
    margin-left: 4px;
    color: rgba(33, 150, 243, 1);
}

.modal-form__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 10px 56px;

    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover,
.modal-form__btn:focus {
    background-color: #188CE8;
}